<!DOCTYPE html>
<html>
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <title th:text="${metaTitle} ? ${metaTitle} : 'Redcap' "></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/frontend.css"/>
</head>
<body>

<!-- Main Content -->
<div class="container">


    <div class="row">
        <div class="col-md-8">

            <a th:href="@{/post/add}">Add</a>
            <h3>Quick wiki search</h3>
            <input type="text" class="form-control">
            <a th:href="@{/post/edit/} + ${post.slug}">edit</a>
            <div  th:remove="tag" th:utext="${post.content}">content</div>



        </div>
        <div class="col-md-4"></div>
    </div>


</div>

</body>
</html>