<!DOCTYPE html>
<html>
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <title th:text="${metaTitle} ? ${metaTitle} : 'Redcap' "></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/frontend.css"/>
</head>
<body>

<div class="container">



    <div class="row">
        <div class="col-md-8">
            <img  class="lazyload" data:src="@{latestPosts.content[0].image}" class="img-fluid"/>
        </div>
        <div class="col-md-4">

            <div class="row">
                <div class="col-md-12">
                    <img  class="lazyload" data:src="@{latestPosts.content[0].image}" class="img-fluid"/>
                </div>
                <div class="col-md-12">
                    <img  class="lazyload" data:src="@{${latestPosts.content[0].image}}" class="img-fluid"/>
                </div>
            </div>

        </div>
    </div>



    <div class="row">
        <div class="col-md-8">
            <h3>Latest posts</h3>


        </div>
        <div class="col-md-4">
            sss

        </div>
    </div>







    <a href="/post/add">Add new</a>


    <div th:each="post : ${latestPosts.content}">

        <!--<img  th:src="${post.image}" class="img-fluid"/>-->
        <h4><a th:href="${post.slug}" th:text="${post.title}">name</a></h4>
        <div th:text="${post.content}">content</div>
        <div th:text="${post.image}">image</div>
    </div>


    <div id="featuredPosts"></div>



</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/lazyload.min.js"></script>

<script>

    $( document ).ready(function() {

        lazyload();


        $.get( "/api/blog", function( data ) {
            //console.log( data.content);
            $.each(data.content, function(index, blog ) {
                //console.log(blog );
                $('#featuredPosts').append("<h3>"+blog.title+"</h3>")
            });

            getContent();
        });


    });


    function  getContent() {

        console.log("ddddd");

    }



</script>


</body>
</html>