<!DOCTYPE html>
<html>
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <title th:text="${metaTitle} ? ${metaTitle} : 'Redcap' "></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/frontend.css"/>
</head>
<body>

<div class="container">

    <a href="/post/add">Add new</a>

    <div class="row">
        <div class="col-md-8">

            <img data-src="https://static.pexels.com/photos/2232/vegetables-italian-pizza-restaurant.jpg" class="lazy img-fluid"/>
            <h4><a th:href="${latestPosts.content[0].slug}" th:text="${latestPosts.content[0].title}">name</a></h4>
        </div>
        <div class="col-md-4">

            <div class="row">
                <div class="col-md-12">
                    <img data-src="https://static.pexels.com/photos/2232/vegetables-italian-pizza-restaurant.jpg" class="lazy img-fluid"/>
                    <img data-echo="${latestPosts.content[0].image}" class="img-fluid"/>
                    <h4><a th:href="${latestPosts.content[1].slug}" th:text="${latestPosts.content[1].title}">name</a></h4>
                </div>
                <div class="col-md-12">
                    <img data-src="https://static.pexels.com/photos/2232/vegetables-italian-pizza-restaurant.jpg" class="lazy img-fluid"/>
                    <h4><a th:href="${latestPosts.content[2].slug}" th:text="${latestPosts.content[2].title}">name</a></h4>
                </div>
            </div>

        </div>
    </div>



    <div class="row">
        <div class="col-md-8">
            <h3>Latest posts</h3>
            <div id="featuredPosts"></div>


        </div>
        <div class="col-md-4">
            sss

        </div>
    </div>













</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/echo.min.js"></script>
<script src="/js/jquery.lazy.min.js"></script>
<script>


//    echo.init({
//        offset: 100,
//        throttle: 250,
//        unload: false,
//        callback: function (element, op) {
//            console.log(element, 'has been', op + 'ed')
//        }
//    });



    $( document ).ready(function() {


        $('.lazy').Lazy();


        $.get( "/api/blog", function( data ) {
            //console.log( data.content);
            $.each(data.content, function(index, blog ) {
                //console.log(blog );
                $('#featuredPosts').append("<h3>"+blog.title+"</h3>")
            });

            getContent();
        });


    });


    function  getContent() {

        console.log("ddddd");

    }



</script>


</body>
</html>